@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+DE+Grund:wght@100..400&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

span {
    color: rgb(216, 29, 85);
}

.background  {
    height: 200%;
    width: 200%;
    position: fixed;
    top: -50%;
    left: -50%;
    z-index: -1;
}

.background img {
    min-height: 50%;
    min-width: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(3px);
}

header {
    margin-bottom: 100px;
}

header .preface {
    height: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .preface p{
    color: rgb(255, 217, 217);
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 55px;
    
}

.container {
    background-color: rgb(255, 255, 255);
    color: #fff;
    padding: 25px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    
}

.container .intro{
    margin: 30px 0 70px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #000;
}

.container .another {
    
    background-size: 100%;
    background-image: url(assets/download\ \(1\).jpg);
    background-repeat: no-repeat;
    padding: 25px 25px;
    border-radius: 35px;
    background-color: rgb(192, 172, 174);
    margin: 25px 20px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.container .another img{
    height: 100px;
    width: 100px;
    border-radius: 21px;
    object-fit: cover;
    display: none;
}

.container .intro2{
    margin: 70px 0 70px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 31px;
    color: #000;
}